.container {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 174, 214); 
    gap: 20px; 
}

.button {
    margin: 5px;
    padding: 10px 15px;
    background-color: rgb(219, 64, 167); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.button:hover {
    background-color: rgb(200, 50, 150); 
    transform: scale(1.05); 
}

.buttonReset {
    margin: 5px;
    padding: 10px 15px;
    background-color: rgb(189, 120, 174); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttonReset:hover {
    background-color: rgb(170, 100, 150); 
    transform: scale(1.05);
}

.cardContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    margin-top: 20px;
}

.scrollTopButton {
    margin: 40px auto 20px;
    padding: 10px 20px;
    background-color: rgb(146, 29, 130); 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.scrollTopButton:hover {
    background-color: rgb(120, 20, 110);
    transform: scale(1.1); 
}
