.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #db9dcc69;
  }
  
  .image {
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .list li {
    margin: 5px 0;
  }
  
  .button {
    padding: 10px 20px;
    background-color: rgb(219, 64, 167);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: rgba(219, 64, 167, 0.507);
  }